#navbar {
    display: flex;
    min-height: 48px;
    background-color: #03A9F4;
    padding: 0 12px;
    align-items: center;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#navbar>div:first-child {
    width: 20%;
}
#navbar>div>img {
    width: 138px;
}
#subMenu {
    display: flex;
    width: 40%;
    gap: 20px;
}
img+div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#notificationBar {
    margin-left: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 28px;
    align-items: center;
    width: 40%;
}
#fantacy {
    display: flex;
}
#fantacy>img {
    width: 24px;
    margin-right: 8px;
}
